:root {
  --text-normal: #1b1b1b;
  --text-highlight: #000000;
  --text-lighter: #4a4a4a;

  --bg-primary: #ffffff;
  --bg-secondary: #d0d0d0;
  --bg-box: #f3f3f309;

  --main-one: #416aff;
  --main-two: #97aeff;

  --border-one: #000000;
  --border-two: #313131;
}